[2021-10-20 14:33] tlienart commented on #912
Here's a fuller example along the lines of what I think you're doing

`utils.jl`:
[code]

`page.md`
[code]

[2021-10-20 15:10] #912 closed, assigned to nobody

[2021-11-01 20:38] kescobo opened #917 "Fenced html block with &quot; is broken"
Loading up a brand new site and adding:

[code]

![image](https://user-images.githubusercontent.com/3502975/139738242-ce05aae4-9dba-4cd3-8232-31549fc80e7a.png)

I haven't tried other sequences like that, but any html block containing `&quot;` seems to get rendered as actual html rather than fenced html code.

[2021-11-02 08:13] #917 closed

[2021-11-02 08:13] tlienart commented on #917
Haha that's a funny corner case and a good catch. I can reproduce and was scratching my head a bit as to why this is but actually the answer is simple: in the case of HTML code, exactly to **prevent** what you're seeing, there's a sequence of escaping/un-escaping of the code. But to avoid escaping code that has _already_ been escaped, there is a function `is_html_escaped` that checks whether the c

[2021-11-02 17:59] kescobo opened #918 "Hide (but execute) code in literate notebooks with Literate.jl syntax"
I'm not sure there's an easy fix for this, (and it's a small thing really) but it would be great to be able to use `Literate.jl` syntax to hide code. At the moment, lines followed by `#hide` are hidden, but not evaluated, I'm guessing because Franklin is depending on the markdown output of `Literate.jl`, in which these lines don't show up. Eg.

[code]

doesn't work, whereas using Franklin.jl synta

[2021-11-03 08:15] tlienart commented on #918
ah it's interesting 🤔 there's some clash between the `#hide` of Literate and the hide of Franklin...

I think there's a simple hack that would get us around this. To explain what's going on the steps are:

1. Literate-like file is provided
1. Franklin takes it, uses `Literate.markdown(...)` to make it into a Markdown-like file with a few changes and parses that Markdown to produce HTML

In step (2

[2021-11-03 08:37] tlienart commented on #918
Yeah that works, I'll bring this in in a patch release, please test it and let me know whether that works for you

[2021-11-03 08:38] #918 closed

[2021-11-03 09:50] McSinyx opened #919 "date"

[2021-11-03 09:50] #919 closed

[2021-11-03 09:54] tlienart commented on #919
No worries :-) if you have questions the slack channel `#franklin` is fairly active (discourse also if someone `@` me on the issue 😄 )

[2021-11-03 14:44] schlichtanders opened #920 "Maybe allow html in markdown without fences?"
Other markdown I've been using allows to place html right into markdown.

Having the possibility to easily switch back to markdown within some html div would be awesome as well.

One big advantage of going with such standard is that syntax highlighting can be borrowed from other markdown linters.
Having custom latex-commands is nice and handy, however they fall short in some cases with syntax high

[2021-11-03 14:50] fredrikekre commented on #920
Probably because the Markdown stdlib doesn't support it: https://github.com/JuliaLang/julia/issues/17837

[2021-11-03 14:51] fredrikekre commented on #920
Even CommonMark.jl have special syntax for it: https://github.com/MichaelHatherly/CommonMark.jl#raw-content

[2021-11-03 14:52] tlienart commented on #920
So this is actually an easy one: there's no way I will do it; you could criticise the initial decision but it was a choice from very early on to have the MD and the HTML fully separated which simplifies a lot of stuff. And @fredrikekre is right that Base.Markdown doesn't support it but even if it did I'd have done the same.

Another one that I kind of had supported but will definitely not be suppo

[2021-11-03 14:52] #920 closed

[2021-11-03 15:14] tlienart commented on #920
Ah and yes I agree for the syntax hl... we'd have at some point to define custom rules for "Franklin markdown" that could be a good project 🤪

[2021-11-03 16:04] schlichtanders commented on #920
thank you all for your input.
very valuable and appreciated

[2021-11-04 12:35] tlienart commented on #899
@schlichtanders I've now implemented this in Xranklin (the in-dev next version) and it looks like this:

same as before:
[code]

new:
[code]

so basically the new stuff are these "e-string" where you can specify some Julia logic and indicate what variables to get from the local environment using a `$`.

Any feedback on this?

[2021-11-04 14:17] schlichtanders commented on #899
@tlienart thank you for pinging - awesome to see that this is coming soon.

one feedback immediately popping into my mind: Not everything is nicely representable as a string.
If my function `foo` for whatever reason likes to return an array or struct, wouldn't it be nicer to just have
[code]

[2021-11-04 16:41] tlienart commented on #899
Yes I agree & this is actually just a matter of where things are interpreted; what actually gets passed is an array of string one of which is an "e-string", the hfun then does what it wants with it but most likely will just evaluate it and there it will be whatever value structure or whatever.

So I misrepresented this in my previous comment, it will in fact be similar to what you described

Thank

[2021-11-08 07:05] schlichtanders opened #921 "html script misses new lines on gitlab pages"
this is mainly for reporting purposes, I am not sure why this happens, but it happens while using Franklin, so may be related.

I have a javascript script in my html layout template file and it does not work sometimes (sometimes it surprisingly works) and it seems one reason is that it gets compressed into a single line.

However I use line comments, and hence the whole script breaks when newlines

[2021-11-08 07:30] tlienart commented on #921
Could you try switching off the minification in case you were using it? (`optimize(minify=false)`)

[2021-11-08 08:49] schlichtanders opened #922 "inline svg url not working with Franklin because changed by compression"
On Franklin server everything just works, but when deploying to gitlab, my background heropatterns (svg images inlined into background-image: url(...)) just don't show up.

Inspecting the issue it turns out that something in the pipeline deleted the surrounding quotes. Unbelievable...

So on my local system I have
[code]
which somehow ends up on gitlab pages as

[code]
no surrounding quotes any lo

[2021-11-08 08:50] schlichtanders commented on #921
thank you for your help. I haven't activated the minifcation. Probably this is a default in the gitlab cicd. Can you help me pointing to the right place where I need to change things?

[2021-11-08 08:54] schlichtanders commented on #921
if minify is doing such big mistakes, it looks crucially buggy to me.

What do you think about disabling it by default? And add a warning note to the documentation of the minify option.

[2021-11-08 08:58] schlichtanders commented on #921
Found it (there is exactly one call to `optimize`):
[code]

[2021-11-08 09:00] schlichtanders commented on #922
Turning off `minify` fixed this issue as well.
See https://github.com/tlienart/Franklin.jl/issues/921#issuecomment-962938930

I would vote for turning off minify by default for everyone.

[2021-11-08 09:11] tlienart commented on #921
yes I'm aware this minification is less than ideal, also it's actually not Franklin, it's a Python script that does the job (https://github.com/tlienart/Franklin.jl/blob/master/src/scripts/minify.py -- https://github.com/juancarlospaco/css-html-js-minify).

The reason this was baked in was because it's very simple and _generally_ doesn't break sites (whereas more powerful minifiers require a lot m

[2021-11-08 09:16] tlienart commented on #922
yes so as per other issue, minification will be turned off for everyone (prerendering as well btw even though it causes much fewer issues)

[2021-11-08 09:19] tlienart commented on #908
Sorry I missed your response here, could you give a small example of what you expected would work in `foot.html`? that will help illustrate the issue and either document it or fix it in next version, thanks

[2021-11-08 19:51] #921 closed

[2021-11-08 19:59] schlichtanders commented on #908
sure. Let's say we have defined in config.md `mylist = ["1", "2", "3", ..., "10"]` then I having in foot.html
[code]
I would expect this to output the different lists on the different subpages
[code]
and so on

however instead I the output is everywhere
[code]
which is because PAGINATE is only parsed for markdown files and not html files currently (despite the {{ syntax suggests it to be also vali

[2021-11-08 19:59] #922 closed

[2021-11-09 07:59] tlienart commented on #908
ok yes, thanks for that. I understand that there's an ambiguity in that one might expect `{{...}}` to work anywhere.

The thing though is if you put a `{{...}}` in a layout file (like `foot.html`) what does that mean; would you expect every single page of your blog get paginated? Another thing is that at the moment you can only have one "paginator" per page, which is kind of what constrained the "

[2021-11-09 08:01] tlienart opened #923 "Fail on Warning investigation"
Is is possible that this fix doesn't catch all Franklin warnings? I have it set:

https://github.com/rikhuijzer/huijzer.xyz/blob/e1a1732a58c96836b0ccc1e9bb7eefdbef59d281/.github/workflows/CI.yml#L54-L57

but still the build passes and the logs are full of Franklin Warnings. For example:

[code]

source: https://github.com/rikhuijzer/huijzer.xyz/runs/4089725042

_Originally posted by @rikhuijzer in

[2021-11-10 10:45] schlichtanders commented on #908
Thank you for the explanation.
Actually the pagination triggers somehow and indeed generates multiple pages, also if I put it into the foot.html where it just doesn't display well. So in principle I can imagine this to be useful also in footer, i.e. for some generic paging in the footer.

The global restriction of having only one pagination applies also within a single MD file too, or?
I understan

[2021-11-10 11:08] tlienart commented on #908
yes exactly; I'd be happy to make it more sophisticated but there would need to be a clear use case and an idea for how to manage it

:+1:

[2021-11-10 20:08] epatters opened #924 "Failing to retrieve pagevars on recent versions of Franklin"
At some point at or after the Franklin v0.10.58 release (I'm afraid I don't know exactly when), the [AlgebraicJulia blog](https://www.algebraicjulia.org/blog/) stopped building correctly. Specifically, this only seems to happen on GitHub CI, making debugging difficult, and it affects only the index page, which uses a minor variant of the hfun from the [official Julia blog](https://github.com/Julia

[2021-11-10 20:52] tlienart commented on #924
Hello @epatters sorry about that and pegging to a version that works for you is a good approach.

Here the thing that would fix it is to add a `@delay` in front of the `function hfun_***` that you have to list entries.

The reason for that (unfortunate) change is that the previous thing could incur, in some circumstances where pages would request pagevar in a cycle, a stack overflow...

There is n

[2021-11-11 03:36] epatters commented on #924
Thanks for the explanation and the fix! Adding `@delay` to my hfun worked.

[2021-11-11 03:36] #924 closed

[2021-11-14 08:10] McSinyx commented on #797
I was able to [work around the date issue with `git log`](https://git.sr.ht/~cnx/site/commit/789398fa#utils.jl-1-4), which is a win-win since the modification date is not preserved by `git clone`.

[2021-11-14 10:43] tlienart commented on #797
ah awesome! thanks for letting me know :)

[2021-11-18 08:32] tlienart opened #925 "rss docs"
From a message on Slack, tagging @kescobo as well; this should hopefully make it in a PR

[code]

[2021-11-18 14:56] kescobo commented on #925
Yeah, I was going to try this, then write up PR today or tomorrow

[2021-11-22 14:27] fonsp commented on #836
I totally missed this issue! But see my discussion here: https://github.com/tlienart/Franklin.jl/discussions/927

[2021-11-22 15:50] tlienart commented on #836
Thanks @fonsp I'll answer to your careful suggestions in the thread, my current inclination is to just remove it and let users do their own minification if they want to (initially I had this naive idea that minification was useful + easy and now I know better...)

[2021-11-25 13:55] fonsp commented on #836
Great! It would be good to leave the `minify` kwarg for backwards compatibility, and just ignore the value if `false`, and print a message when `true`.

[2021-11-29 17:20] gavinband opened #929 "Document web server deployment"
Hi,

Thanks for making Franklin.jl!  I would like to take a Franklin site and deploy it into an existing folder on a webserver.  I don't control the server and can't alter its configuration.

To do this I first tried to simply `rsync` the `__site/` folder post-`serve()` to its destination location.  But this fails because `serve()` places a leading `/` on all paths, so they break if it is not the

[2021-11-29 17:21] gavinband commented on #929
c.f. Issues #490 and #586

[2021-12-03 04:43] mcognetta opened #930 "Dead links in RSS docs"
On the [RSS doc page](https://franklinjl.org/syntax/page-variables/#rss) there are a number of dead links:

At the very bottom:

Both links are to deleted pages.

Then, the RSS dedicated page, [here](https://franklinjl.org/syntax/rss/), is empty. It is linked to in the following snippet:

[2021-12-04 05:02] mcognetta commented on #930
Ah, I believe some (all?) of these are fixed in #926, but they haven't been deployed to a version. If that is the case, I will close this issue.

[2021-12-05 11:05] tlienart commented on #930
ah thanks for this, Yes #926 fixes everything but I hadn't realised the build failed due to some bug with TikzPictures; will investigate and fix this. Thanks @mcognetta

[2021-12-05 12:27] tlienart commented on #930
fixed now + bug report filed @ TikzCD (https://github.com/JuliaTeX/TikzCDs.jl/issues/8)

[2021-12-05 12:27] #930 closed

[2021-12-05 12:33] #890 closed

[2021-12-05 12:40] tlienart commented on #929
Hello @gavinband apologies for the late response I was out last week.

I _think_ your issue can be solved by using the keyword argument in `optimize` and not changing your `config.md` i.e. do the same as what you describe in your `optimize` paragraph but calling

[code]

This doesn't require you to change your `config.md` which I understand can be annoying in some cases. And then you can build som

[2021-12-05 12:42] tlienart commented on #925
done in #926

[2021-12-05 12:42] #925 closed

[2021-12-07 13:04] hustf opened #931 "Option to ignore #HIDE"
From a Franklin slack thread, two weeks ago. I personally use another solution, but this could be a potential improvement to Franklin.

Most lines of code are not relevant to the point  we are trying to make in blog posts. The #HIDE functionality is great for dispersing the interesting snippets through a text.

On the other hand, we want to share the details with those who are interested in reprod

[2021-12-07 16:22] tlienart commented on #931
hmm interesting! I like the idea of having some button where you can toggle some lines on and off maybe something like

[code]

with the idea that `# opt` (we could find some other flag) lines are surrounded by an additional `<span ...>` where the visibility can be toggled on  / off by a button.

If this is indeed what you have in mind I _think_ the easiest is to do this as a pre-processing step p

[2021-12-08 12:54] gavinband commented on #929
Thanks @tlienart - that makes sense. I tried the `prepath` option to `optimize()` and yes this appears to work well.  A doc update would be welcome if easy to do (I guess this might be a common use case?)

[2021-12-08 12:59] tlienart commented on #929
would you mind opening a PR with the suggested update? somewhere on this page: https://github.com/tlienart/Franklin.jl/blob/master/docs/workflow/deploy.md I would think.

Thanks in advance!

[2021-12-08 13:03] gavinband commented on #929
Sure.  If you're happy I might perhaps add a short new section 'Deploying to an existing web server' as a first section before 'Deploying to github'?

[2021-12-08 13:15] tlienart commented on #929
Definitely! add whatever you would have liked to find when you looked at it, it's always helpful and I'll gladly review the content. Thank you

[2021-12-08 13:20] gavinband commented on #929
Hi,

I've had a go - please use or adjust as needed:

https://github.com/tlienart/Franklin.jl/pull/932

Best wishes,
Gavin.

On 8 Dec 2021, at 12:59, Thibaut Lienart ***@***.***> wrote:

would you mind opening a PR with the suggested update? somewhere on this page: https://github.com/tlienart/Franklin.jl/blob/master/docs/workflow/deploy.md I would think.

Thanks in advance!

—
You are receiving th

[2021-12-09 11:16] gavinband commented on #929
Thanks @tlienart !

[2021-12-09 11:16] #929 closed

[2021-12-11 07:06] mcognetta opened #933 "Note: `serve(prerender=true)` failure caused by out of date highlight.js"
This is not an issue that needs fixing, posting it here for others in case they search for it. If this is inappropriate, please let me know so I can close this and avoid doing it in the future.

After #804, calling `serve(..., prerender=true)` can fail if your system's highlight.js is out of date. You may get an error like:

[code]

For example,

[code]

This is caused by an outdated _system_ high

[2021-12-11 16:51] tlienart commented on #933
Thanks a lot!

[2021-12-26 09:12] McSinyx opened #936 "Footnote <table>s are nested in a <p> tag"
Semantically `<p>` tags should not contain `<table>`.

[2021-12-27 08:13] newptcai opened #937 "pagevar fails to retrive variables randomly"
I tried to update my [website](https://gitlab.com/newptcai/newptcai.gitlab.io) to use latest Franklin. But I found a weird bug. The following code failed to retrieve page variables currently.

[code]

For some pages, `title = pagevar(surl, :title)` will return `nothing`. And for which pages this happens is random if you run `serve(clear=true)`. The line `pubdate = pagevar(surl, :pubdate)` also fai

[2021-12-30 08:04] jkrumbiegel opened #938 "Quadruple backticks are parsed incorrectly"
On this page you can see that there is one dangling backtick in every Julia code block https://jkrumbiegel.com/pages/2021-12-28-new-features-dataframemacros/

This seems to be because Literate.jl generates quadruple instead of triple backticks, which should work nonetheless I think.

[2021-12-30 14:16] tlienart commented on #938
This is a change in Literate.jl (https://github.com/fredrikekre/Literate.jl/blob/v2.9.4/CHANGELOG.md#changed) which went from 3 to 4 backticks.

It's a bit annoying to change that in Franklin because users of older versions of Literate.jl will have their code fail.

To make thing simple, for now I'd recommend going with pinning Literate to 2.8 and I'll try to see if we can add some logic that chec

[2021-12-30 14:21] tlienart commented on #936
There's quite a few issues opened here to do with `<p>` tags. Long story short Franklin is something on top of the `Base.Markdown` markdown to html conversion which is faulty. Franklin then bends over backwards to try to avoid having unclosed `<p>` blocks (which it doesn't always manage to do).

The future version which can be previewed here https://github.com/tlienart/Xranklin.jl (though not reco

[2021-12-30 14:21] #936 closed

[2021-12-30 14:24] tlienart commented on #937
Please use `@delay` in front of the `hfun` that makes use of all the `pagevar` so

[code]

[2021-12-30 14:31] McSinyx commented on #936
That's OK, I've already came up with a work around specifically for the footnotes.

[2022-01-01 20:41] tlienart opened #939 "Equations without numbers and eqref"
See discussion here: https://discourse.julialang.org/t/how-to-suppress-equation-numbers-in-franklin/73835/4

Possible actions:

* define explicitly `\begin{align*}` and `\begin{equation*}` and `\begin{eqnarray*}` and make them do the trick explained in the discussion
* possibly define `$$* ... $$` as a custom environment (maybe in Xranklin)
* remove the docs with suppressing numbers as it will lea

[2022-01-01 21:43] #939 closed

[2022-01-02 13:53] Wikunia commented on #937
Just encountered this as well. I thought `pagevar` checks if the variable is already there and if not parses the markdown file to retrieve it. Also ` @delay` doesn't seem to work in my case.

[2022-01-03 03:09] newptcai commented on #937
Adding @delay does not change anything for me neither.

[2022-01-03 12:37] tlienart commented on #937
@newptcai same suggestion as I made to @Wikunia ; for now please pin Franklin to `0.10.58` if things used to work for you but don't anymore now.

The next version will be released soon and fixes this pagevar stuff so this workaround should hopefully be ok in the meantime

[2022-01-15 19:14] gorbatschow opened #941 "Latex formula is not displaying correctly"
Hi! Looks like a bug, this formula
`$${a_i} = \sum\limits_{j = 0}^3 {{{\left( {{b_i}} \right)}_j}} {P^j}$$`
causes warning
[code]
and  it is not displaying correctly.

[2022-01-15 20:55] tlienart commented on #941
Hello!

In Franklin double braces mean something specific and so you hit the case where this is ambiguous, if you add white spaces between the braces so that you don't have `{{...}}` but `{ {` and `} }` the warning and issue should go away

[2022-01-15 21:05] gorbatschow commented on #941
Ok, thanks, solved my problem.

[2022-01-16 07:00] #941 closed

[2022-01-23 13:22] Tobias-Thomas opened #943 "CSS fails to load"
When publishing my site via github pages, the css fails to load.
It is a personal webpage, and to make sure, I didn't fail anything, I just copied the personal webpage example from the [Deplaying you website](https://franklinjl.org/workflow/deploy/) part of the documentation.
Link to the [webpage](https://tobias-thomas.github.io/) and to the [repository](https://github.com/Tobias-Thomas/tobias-tho

[2022-01-23 13:28] tlienart commented on #943
Your site is being loaded off the master branch.

Please go to your Repo settings, click Pages, select the `gh-pages` branch, wait a bit and it will be fine.

[2022-01-23 13:30] tlienart commented on #943
Further than this it looks like no actual deployment happens, are Github actions enabled on that repository?

[2022-01-23 14:44] Tobias-Thomas commented on #943
Hmm, actions are enabled, yet it seems that the only action, that ran was the default (Jekyll) one for personal web pages (see images below).
Do you know how I tell github not to use that one and instead the one defined in deploy.yml?
Also switching to the "Allow local actions only" setting did not help.
![all_actions](https://user-images.githubusercontent.com/39030885/150683972-cd92fe0f-0981-42ea

[2022-01-23 14:48] tlienart commented on #943
can you go to https://github.com/Tobias-Thomas/tobias-thomas.github.io/actions/workflows/deploy.yml and see if there's some button that allows you to start it manually? either that or push to the repo some dummy commit.

[2022-01-23 14:49] tlienart commented on #943
(if you want, give me full admin rights on your repo, I'll have a look and then you can revoke my access)

[2022-01-23 15:10] Tobias-Thomas commented on #943
Thanks, now it works!
For those not completely clear (because part of the conversation is in a pr), the two mistakes I made were
1. I had the wrong branch to trigger in the deploy.yml
2. I selected the wrong branch to show (first comment in this issue)

[2022-01-23 15:10] #943 closed

[2022-01-23 15:11] tlienart commented on #943
👏 glad that it's fixed, good luck with your website!

[2022-01-31 09:46] #863 closed

[2022-01-31 13:08] #938 closed

[2022-01-31 13:10] tlienart commented on #938
@jkrumbiegel could you kindly test this on the latest patch release? I added support for Literate's FranklinFlavor and adjusted a few things with the case of quadruple backticks. I believe it should fix your issue with the trailing backtick.

[2022-01-31 13:38] jeremiahpslewis commented on #863
@tlienart Are you still planning on going from Markdown.jl -> CommonMark.jl? (Think this is an awesome change ;) ) Have you seen this project / might this be relevant as well? (It builds on CommonMark.jl, but enables further HTML objects to be composed) https://github.com/JuliaPluto/HypertextLiteral.jl

[2022-01-31 13:46] tlienart commented on #863
Thanks @jeremiahpslewis ,

Re using CommonMark.jl: this was the _initial_ plan until it turned out that adapting to CommonMark would limit some of Franklin's extensions. The next version (which you can check out at Xranklin.jl) has its own parser. So the move from Markdown.jl has definitely been applied. Also all tests from CommonMark.jl are passing with the new parser apart the stuff that we're c

[2022-02-14 21:34] owiecc opened #945 "Use a LaTeX engine for static equations and figures generation"
I would love to see a full-blown LaTeX support. Please take a look at this wonderful site: https://krasjet.com/voice/karasu/

The author wrote a custom pipeline in Haskell: `.md` with LaTeX mixins → LaTeX engine → [dvisvgm](https://dvisvgm.de/) → `.svg` → embed in `.html`. As a result, you can put any LaTeX code, including a custom preamble, and embed the result in a website. This would have the b

[2022-02-15 07:50] tlienart commented on #945
This won't happen inside Franklin.

Now on the more constructive side, you can define your own plugins which can call arbitrary code including Haskell and Pandoc, so if you can write code that ends up generating the HTML you want; then it's trivial to have Franklin include the result.

Additional note (similar to previous point) that you can already use things like TikzPictures, Latexify etc as we

[2022-02-15 20:02] owiecc commented on #945
This is only mostly getting a high quality equations (e.g. custom fonts) without JS.

I agree this would need to be done in an external package. I think I will have a chat with [JuliaTeX](https://github.com/JuliaTeX) to generalise the [TikzPictures.jl](https://github.com/JuliaTeX/TikzPictures.jl) package.

[2022-02-15 20:02] #945 closed

[2022-02-16 07:48] tlienart commented on #945
Just a last note before completely closing this,

* TikzPictures relies on luatex
* KaTeX relies on JS
* both can be pre-rendered, one to SVG, one to HTML

The only positive side of TikzPictures is that you can embed the font in the produced SVG which means you don't have to have users loading the fonts and have reduced CSS usage. Note that you can switch fonts in KaTeX too and pre-render with a d

[2022-02-17 19:37] owiecc commented on #945
Thanks for the tips. I have a good base in the form of TikzPictures and [LaTeXiT](https://www.chachatelier.fr/latexit/) so maybe I will try to cook up something.

[2022-02-20 20:46] Arkoniak commented on #825
Why not use something similar to Hugo(?) approach? Just require single foundation script in `_layout` where structure of the page is written explicitly.Then users can adjust it to their needs.

For example, something like this
[code]

[2022-02-20 20:48] tlienart commented on #825
This is now allowed in [Xranklin.jl](https://github.com/tlienart/Xranklin.jl) which is the testing ground for the upcoming release of Franklin

[2022-03-02 17:19] staticfloat opened #946 "Relative paths for relocatable websites"
I would like to create multiple franklin-hosted (well, really PkgPage-generated) websites on the same domain!  I see that all of the resources are referred to by absolute path, and the `prepath` argument always has a `/` prepended to it.  Is there some way that we can provide `prepath=nothing` or similar to signal to Franklin that we want a relocatable HTML generated, and thus it should not have t

[2022-03-02 19:47] tlienart commented on #946
(sorry if I misunderstood your message)

If you have a base URL `example.com` you want to use and have projects at

* repo1 -> `example.com/project1/index.html` and related pages and assets with `example.com/project1/`
* repo2 -> `example.com/project2/index.html` and related pages and assets with `example.com/project2/`
* etc

you can achieve this by having `prepath="project1"`, `prepath="project2

[2022-03-02 20:43] zsoerenm commented on #946
I think the problem is that the `prepath` might not be available beforehand or might change with every commit.
For example, let's say you'd like to build a PkgPage website with every commit as an artifact. This might be accessible like the following:
- /commid-id1/report/
- /commit-id2/report/
etc.
With relative paths this would be much easier to handle.

[2022-03-02 20:56] tlienart commented on #946
Assuming you use GA to generate your websites, you can modify this https://github.com/tlienart/PkgPage.jl/blob/8716a293097213b63c078680e7d74f35d28df353/.github/workflows/DeployPage.yml#L17-L22

into

[code]

i.e. you can pass that `prepath` thing at deployment time.

---

PS: I'm not trying to be difficult, you're not the first ones stumbling upon the relative path thing, I understand that in your

[2022-03-04 01:55] kdheepak opened #947 "Last modified time not showing up correctly"
With this footer:

[code]

I get this:

![Screen Shot 2022-03-03 at 6 54 23 PM](https://user-images.githubusercontent.com/1813121/156684195-40da7dad-f81b-4622-b8b5-2f9b6bdb7d34.png)

[2022-03-04 07:35] tlienart commented on #947
Quick workaround: put this in `utils.jl`

[code]

And replace the `{{fill fd_mtime}}` by `{{last_modified}}`.

[2022-03-04 08:29] kdheepak commented on #947
I may have opened this issue on the wrong repo? I think I was using Xranklin at the time I got this issue. I removed the footer for now. I'll get back to you on this in a couple of days.

[2022-03-06 01:09] rmsrosa opened #948 "wrong figure path when filename has dot"
See https://github.com/rmsrosa/booksjl-franklin-template/issues/7

[2022-03-07 16:44] Shuvomoy opened #949 "Franklin does not compile on Julia 1.6.5"
Hi,

When using `Franklin` on `Julia 1.6.5` (while running the command `using Franklin`), I get the following error:

[code]

Any tips/tricks regarding how to fix it will be much appreciate.

[2022-03-07 16:59] fredrikekre commented on #949
Which version of Franklin (and Literate?)

[2022-03-07 18:26] fredrikekre commented on #949
Okay, you need [Literate v2.9.0 for CommonMarkFlavor](https://github.com/fredrikekre/Literate.jl/blob/master/CHANGELOG.md).

[2022-03-07 18:38] Shuvomoy commented on #949
Thanks @fredrikekre , that fixed my issue. Closing it now.

[2022-03-07 18:38] #949 closed

[2022-03-07 19:07] tlienart commented on #949
I'll update the Project's compat to help with this, thanks for flagging it @Shuvomoy

[2022-03-08 10:50] newptcai commented on #937
@tlienart Any update?

[2022-03-08 11:26] tlienart commented on #937
did you do the pinning suggested above?

[2022-03-08 12:12] newptcai commented on #937
Yes, I pinned the version and it works now. How can I test the upcoming version?

[2022-03-08 12:20] tlienart commented on #937
:+1: I'll close this issue.

If you want to test the new version, have a look at [this repository](https://github.com/tlienart/Xranklin.jl), please read the README as it contains information about the migration and what users should be careful about. Also if you intend to use it, please join the slack channel `#xranklin` for questions.

[2022-03-09 09:54] rmsrosa commented on #948
That fixed it! Works fine in the new version 0.10.71 of Franklin. Thanks!

[2022-03-09 09:54] #948 closed

[2022-03-17 06:52] adigitoleo commented on #555
Working on my first blog article now, then I'll push it as an example, with a fix for the regex which didn't work for textbooks (or anything that doesn't have a journal name). The retrieved reference text has so far been fine in most cases, occasionally I get strange things in the crossref metadata (usually something in place of missing/incorrect page number declarations). But it is easy enough to

[2022-03-24 11:02] adigitoleo commented on #555
All of the stuff can be found in here: https://sr.ht/~adigitoleo/adigitoleo-website/sources

For example, [utils.jl](https://git.sr.ht/~adigitoleo/adigitoleo.srht.site/tree/main/item/utils.jl).

The article with references: https://adigitoleo.srht.site/blog/geophys/drex-tests-analytical

Website also linked on my github profile. The article is very technical and mostly for self-reference. Don't wo

[2022-03-29 03:48] joseph-pollacco opened #951 "How to download highlight.js in Windows"
Hi,

I am trying to deploy my docs in my [SoilWater-ToolBox]( https://manaakiwhenua.github.io/SoilWater_ToolBox.jl/HyPix/HyPix_Output)

I migrated from GitHub pages to Franklin.jl . I think that one of the problems is that I have not installed **highlight.js**

The problem is that the example you give seems to only work on Linux and not on word document. Would you kindly let me know how to downloa

[2022-03-29 03:52] tlienart commented on #951
Hello, I can see your site at the address you pointed, is there something that doesn't work?

The message about highlight can be ignored, if Franklin doesn't find it, it will use a fallback mechanism (instead of pre-rendering the code into HTML, the highlight JavaScript library is loaded on the browser to do the same thing)

To answer your question, NodeJS.jl is the portable way of installing the

[2022-03-29 03:56] tlienart commented on #951
Ah you may not have set your prepath correctly, can you check? see here: https://franklinjl.org/workflow/deploy/

[2022-03-29 04:06] joseph-pollacco commented on #951
Dear Thibaut,

A hallo from New Zealand.

A great thanks for your kindness. I spend till midnight last night trying to get the  pure-sm team and I believe that I followed https://franklinjl.org/workflow/deploy/<https://aus01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffranklinjl.org%2Fworkflow%2Fdeploy%2F&data=04%7C01%7Cpollaccoj%40landcareresearch.co.nz%7C6ad87f9e4f674c95638a08da1138136e%

[2022-03-29 04:34] tlienart commented on #951
I'm about to board a plane, so not the most convenient time for a chat.

It would be useful if you told me what failed (what error). Also if you were able to get the website to work locally (when you call `serve`) or not.

In the latter case, can you try setting up a new sandbox site `newsite("testSite")` in a separate folder, call `serve()` without having modified anything, and tell me whether th

[2022-03-30 03:15] joseph-pollacco commented on #951
Dear Thibaut Lienart,

Thanks for providing me with your explanations. The maths is now working without using mathjax.

When I deploy by using serve() it works and the website is beautiful. But when I deploy to github than it does not deploy properly as you could see:
https://manaakiwhenua.github.io/SoilWater_ToolBox/HyPix/HyPix_Output

My GitHub repository is as follow:
https://github.com/manaaki

[2022-04-12 06:59] tlienart commented on #951
I'll close this as I think we fixed the issues on the repo and the website is live

[2022-04-12 07:00] #946 closed

[2022-04-12 07:02] tlienart opened #952 "Bump LiveServer to 0.8 after testing"
LiveServer 0.8 has better mimes support via MIMEs.jl; this doesn't affect Franklin per se but it should be compatible and so the bound should be updated.

[2022-04-12 20:35] joseph-pollacco commented on #951
Dear Thibaut,

A great thanks for your help the website is working well will need now to complete it.

Have a good easter,
Joseph

From: Thibaut Lienart ***@***.***>
Sent: Tuesday, 12 April 2022 6:59 PM
To: tlienart/Franklin.jl ***@***.***>
Cc: Joseph Pollacco ***@***.***>; Author ***@***.***>
Subject: Re: [tlienart/Franklin.jl] How to download highlight.js in Windows (Issue #951)

I'll close this

[2022-04-29 04:35] adigitoleo commented on #262
Small note that NodeJS.jl has been stale for a year and the dev intended to remove the package in favour of the .jll package. See https://github.com/davidanthoff/NodeJS.jl/issues/58. Maybe the default for Franklin could be updated.

[2022-04-29 04:49] adigitoleo opened #954 "highlight.js not working for `language-tex`"
I can't get latex code blocks to be highlighted using highlight.js, despite upstream claiming to [provide support](https://github.com/highlightjs/highlight.js/blob/main/SUPPORTED_LANGUAGES.md). Tried with both v10 and v11 of highlight.js.

I'll see if I can repro using one of the simple templates soon. Does it work for anyone else?

I should mention: other languages like `python`, `julia` work fin

[2022-04-29 06:56] tlienart commented on #262
Thanks for that note, NodeJS.jl is removed in the upcoming version (too many issues with the js packages in general, not specifically with NodeJS so I removed a lot of that logic) but it's good to know about the jll which I'll be glad to try.

[2022-04-29 07:54] #954 closed

[2022-04-29 08:36] adigitoleo commented on #954
Done, works! Thanks.

[2022-05-05 02:31] TheCedarPrince opened #955 "Adding Comments to Your Franklin Blog with utteranc.es!"
Hi all!

With help from @vchuravy and @tlienart , I learned how to add comments to a Franklin Blog using [utteranc.es](https://utteranc.es/)!

1. Follow the guide provided here: https://utteranc.es
2. (From @vchuravy's blog) Add the following function to your command but replace the HTML string with the HTML string provided by step 1:

[code]

3. On any blog page on your Franklin website, you can

[2022-05-09 20:31] tlienart commented on #793
Hello @pdubya, not in the current release. It might land in the next one though

[2022-05-11 13:59] tlienart opened #956 "Fix figure output paths with windows"
Hey @tlienart

It is working now. But you would need to do the same changes in other loop as well.
The following code in `\syntax\markdown\` does not work anymore.
[code]

But the code following it works. i.e.:
[code]

Pasting the truncated output to show how the path is now being defined :

[code]

EDIT:

I have edited the file io.jl so that it works for both for loops:

You can check the Forked

[2022-05-11 14:48] tlienart commented on #956
Hello @atiyabzafar, I did some changes for `lx_figalt` in line with what you suggested and with a bit more care. It's pushed on 469e6fe7 ; could you kindly try again?

(also if the issue with `sinc.svg` is separate, please open another issue so we don't confuse this one).

thanks

[2022-05-12 01:57] adigitoleo opened #957 "Inline code followed by emphasis consumes extra whitespace"
I'm observing a probably unintended behaviour that inline code followed by either italic or bold emphasis consumes one additional trailing space character:

[code]

I'm on `[713c75ef] Franklin v0.10.72` with Julia:

[code]

Let me know if you can trivially reproduce it otherwise I'll send a more complete example.

[2022-05-12 05:29] tlienart commented on #957
Ah that's very useful thanks. It shouldn't be hard to fix, I'll have a look soon

[2022-05-12 05:39] atiyabzafar commented on #956
Hey @tlienart I have checked with the new commit in the master branch.

The plots both in `plotly` page and `markdown` page are working. It works in both my windows machine and my linux machine. So you can use this commit in next release.

<img src="https://user-images.githubusercontent.com/63765230/167998780-08e3cc4d-228d-4f39-85e6-f200922623e9.png" width="500">
<img src="https://user-images.gith

[2022-05-12 09:39] tlienart commented on #956
Ok great, I'll do a patch release with this then, and yeah sounds good about the sinc issue, thanks!

[2022-05-12 23:17] #956 closed

[2022-05-13 00:44] adigitoleo commented on #957
Understood, and the double whitespace is an easy workaround. I agree that it's not worth changing if the markdown parser is going to be replaced.

[2022-05-13 04:12] TheCedarPrince opened #958 "Adding Dark Mode to Your Franklin Website!"
After some tinkering and help from @fredrikekre and @kdheepak, I am pleased to say I have found a way to bring darkmode to Franklin templates!
This details how to add [darkmode.js](https://darkmodejs.learn.uno/) to a Franklin website which should "just work :tm:" with Franklin's templates:

1. Visit https://darkmodejs.learn.uno/ and install the minified [package lib there](https://github.com/sando

[2022-05-13 12:07] kdheepak commented on #958
This is not necessary Franklin related, but if you use `giscus` you can use the following snippet in a click event handler for your toggle for light / dark mode, to switch your comment's theme to light or dark mode as well.

[code]

[2022-05-13 12:09] Seelengrab opened #959 "Error: Unknown language: "plaintext code-output""
I'm running into this error when trying to display some textoutput of my code while fully prerendering with highlight.js, i.e. `serve(prerender=true)`. Full error here:

[code]

...long Franklin warning with all generated JS...

stacktrace:

[code]

Best I can tell, this is caused by this thing that's being passed to `highlight.js`:

[code]

which is all autogenerated. I haven't figured out though

[2022-05-13 12:34] tlienart commented on #959
Hello @Seelengrab, thanks for reporting, as mentioned on Slack recently and consequently added [in the README](https://github.com/tlienart/Franklin.jl#important-notes), the `prerender=true` path will be deprecated and it's recommended to use `prerender=false, minify=false`.

There were some significant changes in the latest minor release of highlight js which I didn't have the time to look into.

[2022-05-14 05:48] Seelengrab commented on #959
That's a shame - as far as I could tell, this was the only way so far to get `patch` highlighting in code blocks :/ Do you have some links for an alternative for prerendered highlighting I could look into and how I could set that up as a postprocessing step? I'm thinking of some automatically running postprocessing I could hook into when the HTML is fully generated. I'm not familiar with `highligh

[2022-05-14 08:00] tlienart commented on #959
In 88ec5b9c I added the possibility to specify the `code-output` class and, in particular, you can set it to empty. Consider the following:

[code]

In the second one the output only has class `plaintext`.

Could you try (by adding Franklin master) and let me know whether that solves your issue?

[2022-05-14 08:23] Seelengrab commented on #959
I think I already have a better fix:

[code]

This regex extracts either the first class or whatever is written after `language-`. It should be compatible with the old regex that just naively assumed there only was one class, while still keeping all classes in the final output. With this, full highlighting during prerendering works again for me.

I've chosen `[^\ \">]` as the "catch all" match bec

[2022-05-14 09:58] tlienart commented on #959
nice work and that makes a lot of sense, I'll review the PR and patch release, thank you!

[2022-05-14 10:04] #959 closed

[2022-05-14 10:11] tlienart commented on #959
btw I'd be curious to see what you meant with `patch` earlier?

[2022-05-14 12:18] Seelengrab commented on #959
Oh I was just using `patch` as a language for the code block, which highlights a block of text produced by `diff` or `git diff`. It looks like the one in the comment above, with the +/- lines in color. It's usually hard to read patches without color, which is why I added that & wanted to prerender it.

[2022-05-14 18:08] tlienart commented on #959
Ah right, so an alternative for you would also have been to generate a bundle with that. But it's great that we fixed the pre-rendering, thanks for your PR!

[2022-05-15 06:27] Seelengrab commented on #959
Yes, it would have been my alternative :) I prefer prerendering, since it keeps download/runtime dependencies down. Images & embedded video already take up a lot of data, adding more than necessary just adds to that :/

[2022-05-16 01:55] pranphy opened #961 "Permalink support?"
I am migrating from another static site generator and most of my `.md` files are named `YYYY-mm-dd-page-slug.md`. Something like

[code]
in global config would result the processed file to be generated like
[code]
Is something like this possible in Franklin? I am basically trying to avoid having to rename my files `YYYY-mm-dd-page-slug.md` to `YYYY/mm/page-slug.md`.

[2022-05-16 07:30] tlienart commented on #961
Hello @pranphy, no this is not directly supported by Franklin. I think the easiest here would be for you to write a script that renames your files.

You can set a `slug` per page but not with a pattern. You could call a function that does it automatically but this is not well supported in the current version of Franklin and would likely lead to a headache more than a working solution. The next ver

[2022-05-16 07:30] #961 closed

[2022-05-30 04:39] gitcommitypos opened #963 "Option to optimize selectively"
Is there any option to optimize either KateX, or code blocks (highlight.js) or both?

As of now, optimizing or setting `prerender=true` in `serve()` disables any custom js added to KateX or code blocks. Added the above option would be beneficial as custom JS scripts would be used mostly with code blocks (like code copy with `clipboard.js`) and prerendering only KateX may still provide some speed i

[2022-05-30 07:14] tlienart commented on #963
No though I would support a PR adding a keyword to optimise and doing only katex or Hl.

Side note: in the long term as mentioned elsewhere, pre-rendering will effectively be dropped from core Franklin in favour of plugins/ci scripts that users can choose to call if they wish to as part of their deployment process.

[2022-05-31 02:40] gitcommitypos commented on #963
Thanks for the quick response. I will submit a PR once I find some time.

[2022-06-08 13:03] joa-quim opened #964 "@def not defined"
Hi, I'm struggling to deploy may ``__site``. For example, the docs say

But if I do it
[code]

[2022-06-08 13:51] tlienart commented on #964
Hello @joa-quim,

Assuming that you're deploying your website off GitHub and that the repository is `joa-quim/TheRepo` what you need to indicate is that the prefix is `TheRepo` i.e. the landing page will be at `joa-quim.github.io/TheRepo/`

To do so, the easiest is to set `prepath = "TheRepo"` in your `config.md` file.

The `config.md` file can have definitions following two ways: (1) the `@def` w

[2022-06-08 15:54] joa-quim commented on #964
Thanks for quick answer and kind offer to assist, which I will quite likely accept but I'm not at that stage yet.
I intend to hos the site in Github. In fact I intend to replace the [GMT.jl](https://www.generic-mapping-tools.org/GMT.jl/dev/) docs that are giving a non-stop flow of headaches. But so far I only have the trial site on my computer.

I did try setting ``prepath = "GMTjl_docs"`` as well

[2022-06-08 18:32] joa-quim commented on #964
OK, so I created a new [repo ](https://github.com/joa-quim/GMTjl_doc)and added you as collaborator. Oddly the ``__site`` directory does not seem to have been uploaded. At least I don't see it (we should see it, no?).
I don't know how this is supposed to work. Is some action triggered that runs ``repo()``? Because if yes, or you try to do it manually, installing GMT in Linux seems to be currently b

[2022-06-08 21:16] tlienart commented on #964
Alright, it's night time here so let me have a look tomorrow and see what I can do to unblock you, I think it should be easy for the most part (not sure about your anaconda comment but I guess that will make more sense once I've had a look at the repo)

[2022-06-08 21:24] joa-quim commented on #964
Sure, it's night time here too (GMT+1) but I'm a night guy.

[2022-06-09 17:27] joa-quim commented on #964
I've spend many hours around this and, so far, have to conclude the problem is really with the ``prepath``. It never gets set. Copying the contents of ``__site`` to the root of an html server works. *e.g.* http://fct-gmt.ualg.pt/
but copying it into a directory, no matter what I try with ``optimize(prepath="GMTjl_docs", minify=false)`` doesn't. *e.g.* http://joa-quim.pt/GMTjl_docs/

If I do ``opti

[2022-06-09 19:43] tlienart commented on #964
Dont waste more time on it (Sorry for the frustration), it's super easy (I mean there's hundreds of Franklin websites out there) I just need to get a bit of time to have a look and help you fix it, maybe there's a small mistake somewhere that keeps messing things up for you. I just haven't had the time to look into it yet.

[2022-06-09 21:08] tlienart commented on #964
did you write the `makedocs.jl` or did you copy it from somewhere else?

that is most likely what messes things up, I suggest removing this, using a common deployment workflow like this one https://github.com/tlienart/FranklinTemplates.jl/blob/master/src/templates/common/.github/workflows/Deploy.yml unless you have very good reasons not to.

[2022-06-09 21:13] tlienart commented on #964
if you want `lunr `on top of that you would add to that script:

1. the installation of the lunr stuff (https://github.com/tlienart/Franklin.jl/blob/ed861a3fe0ed04ec44db76046d147feec9b392ff/.github/workflows/deploy.yml#L31-L33)
2. replace the single optimize call with this: https://github.com/tlienart/Franklin.jl/blob/ed861a3fe0ed04ec44db76046d147feec9b392ff/.github/workflows/deploy.yml#L38

[2022-06-09 21:55] joa-quim commented on #964
I am adapting from the Makie site and ``makedocs.jl`` was written by them. And in fact that's what made things work. Before I was using ``serve()`` with the problems I related. Now, by running ``makedocs.jl`` I can finally get a ``__site`` directory that I can copy to an html server. ... except the damn gh-pages that I still didn't figure out how to make work. The github actions finish, say they a

[2022-06-10 09:19] tlienart commented on #964
ok so unfortunately I don't manage to build your website locally, there's an issue with something called `set_config_option`.

Could I suggest starting from scratch in a simple repo with just one or two pages that can be built locally, removing any non-essential utils stuff and maybe having only a single basic figure built with GMT, so that we just get something deployed properly, and then add the

[2022-06-10 10:47] joa-quim commented on #964
Ok, I'll prepare that simple repo. But you mean one repo that just uses one GMT fig and that is not a striped down version of this, Makie based, one?
I liked very much the look of it with the tilled images that lead to sub-pages with more tilled images and I would like to have one with these features but ofc it doesn't need to be based in a complicated solution.

Regarding the errors you got. Quit

[2022-06-10 14:46] tlienart commented on #964
yes, as simple as possible, not caring about the final look, this is about getting a deployed site that you can increment on.

Tiled stuff is trivial to get with some CSS.

[2022-06-10 14:59] tlienart commented on #964
ok after updating, I was actually able to build your website locally, so let me try to deploy it somewhere else

[2022-06-10 16:50] tlienart commented on #964
ok this is good: https://github.com/joa-quim/GMTjl_doc/runs/6834625961?check_suite_focus=true the hardest was to install GMT, their installation instructions are a bit crap

you'll need to fix `coach.md` which has errors with relinks, probably you have stray braces, I didn't have time to look into this, just serve locally and uncomment it gradually until you fix the issues.

that should be a good

[2022-06-10 16:50] #964 closed

[2022-06-10 17:09] joa-quim commented on #964
Wonderful, I'll dive on this and give news (hopefully the best) when ~finish

Ugh, I'm GMT developer too (but more on the Windows side). We try make it as simple as possible but with all those Linux alternatives, different package managers, extremely old versions by default on the Ubuntu's words and not to mention the troubles Xcode creates on us so that the MacOS bundle has shared libraries that

[2022-06-10 17:14] joa-quim commented on #964
Ah, and the curly braces error. That is quite strange because it seems to occur depending on some past state. The same code is used in many other places but the is some (``coast.md``) where it causes that error.

[2022-06-10 17:46] tlienart commented on #964
Ah sorry about that, I meant it more as a groan than a blame, I definitely can imagine that it's a pain to provide multi platform instructions.

I'm just used to GitHub actions with linux latest, couldn't get the latest GMT so turned to macos with home brew, it works but it's super slow. Maybe the windows way is fastest but I just wanted something that worked

[2022-06-10 17:49] tlienart commented on #964
Re reflink and coast, I think the easiest way here is to bracket, un-comment gradually until something fails when you serve locally, and see what it is, if you can isolate it but are not sure why that fails, open an issue in the repo and I'll have a look

The site looks good btw, I'm glad it's deployed :)

If you want to set it on a dedicated server, you'll have to figure out what the prepath has

[2022-06-10 17:51] tlienart commented on #964
Note on installation: I expected the conda way to work on Ubuntu but it doesn't, it installs fine but I don't know where it places the executable. If you figure that one out I think that would be the best way

[2022-06-10 18:15] joa-quim commented on #964
No problem with the rant. I know that, but I can't avoid thinking that unix _easy-on-breaking_ attitude is to blame too. Conda used to work, and will again when the problems with libstdc++ are solved (see end of this [forum post](https://discourse.julialang.org/t/failing-to-register-new-version-because/82346/9)) ... but then they will resurrect one day.

I have the site on a [dedicated server](htt

[2022-06-10 18:28] joa-quim commented on #964
It's somewhere inside ``.julia\conda\3\...`` (I don't have in my Windows machine. For Windows it installs a MSVC build GMT)

[2022-06-10 18:38] tlienart commented on #964
Ah no i meant I followed the conda instructions to install the gmt library (not GMT.jl) so the conda-forge stuff. The installation worked I just don't know where the `gmt` is, if it can be added to the path somehow then we can go back to ubuntu and avoid the huge overhead of homebrew

Re error: could you try changing the definition of the reflink command to something really dumb like "HERE" or wha

[2022-06-10 18:53] joa-quim commented on #964
That may be a hopeless (at least quite difficult) task. Taking the Windows example, Conda spreads things around and one would need to know also where the dependencies are and what ``LD_LIBRARY_PATH`` to set, etc. And at the end it would have the same libstdc++ compat error that mentioned above when GMT.jl automatically installs GMT via Conda.

I'll try that thing with the reflink.

[2022-06-10 19:00] joa-quim commented on #964
but I need a little help here. I don't understand what this does nor how can change it to just print something.

[code]

[2022-06-10 19:20] tlienart commented on #964
The set of curly brace after [1] is the definition (same as latex) so if you remove the entire content and replace it with `reflink:#1` the behaviour simply becomes to print "reflink: xxx" where "xxx" is the link.

The aim of this is to bypass the nested reflink command which is a Franklin-defined command.

The purpose is to simplify stuff and try to find out what exactly causes issues.

[2022-06-10 19:52] joa-quim commented on #964
Opened [issue](https://github.com/joa-quim/GMTjl_doc/issues/8)

[2022-06-23 15:26] tlienart commented on #937
Hello @maleadt, sorry for the frustration, I'd recommend you pin Franklin to 10.58 and check if that helps for the time being.

This problem has been fixed by overhauling the entirety of the pagevar logic in the upcoming new release which is in prep at Xranklin.jl. It's pretty much ready bar a few minor stuff I need to find some time to complete.

[2022-07-04 14:13] noxthot opened #967 "prepath not applied on plotly json when publishing"
## Problem:
We followed this guide: https://franklinjl.org/extras/plotly/index.html
Our site is published on github.io, thus we have `prepath` set.

We include the plotly json like this:
`\figalt{Barplot showing participants per country}{/assets/pages/datascience/plot_explorative_da_country.json}`

After publishing, the json can not be found since `prepath` is not prepended.

## Suspicion
`\figalt

[2022-07-05 06:38] tlienart commented on #967
Thanks for the report and going the extra mile to correctly diagnose the problem.

I think this can be fixed by adding a `globvar("prepath")` in the plotly logic but I need to play with it a bit to check.

Will try to fix this by eow.

[2022-07-11 12:09] #967 closed

[2022-07-11 12:09] tlienart commented on #967
Just released a patch with this, demo: https://tlienart.github.io/test-plotly/ , demo repo: https://github.com/tlienart/test-plotly

[2022-07-11 17:23] noxthot commented on #967
Thanks a bunch. We will apply this patch soon.

I would have loved to create a pull request but was unsure where to fix it without breaking the architecture.

[2022-07-12 21:46] noxthot commented on #967
Works like a charm. Thanks for the fast fix. :)

[2022-07-13 05:49] tlienart commented on #967
Great!

[2022-07-29 01:04] dstorti opened #969 "Windows 11 ERROR: IOError: chmod("mySite\\.gitignore", 0o644): invalid argument (EINVAL)"
I tried creating a sample site as described on franklinjl.org, but when I execute the newsite() command, I get an error related to chmod. I spotted an earlier thread related to this involving a Windows 10 user, so I tried following the suggestions there (activating an environment inside of a dedicated folder and installing Franklin in that environment) but I keep getting the error.

Any suggestion

[2022-07-29 16:58] tlienart commented on #969
hello, thanks for the report, can you please copy paste the full stacktrace, your Julia version and the result of `] status`? I suspect the problem is with https://github.com/tlienart/FranklinTemplates.jl/blob/61d7b9e8db78a0add3b832f6bd984a38636ce731/src/utils.jl#L59 for you.

Following this I might get you to try a dedicated version of FranklinTemplates that has a specific behaviour for Windows.

[2022-08-20 04:19] mcognetta opened #971 "Nutshell + Franklin Rough Edges"
Carried over from Slack:

it works pretty well with Franklin, but there are a few rough edges that I've noticed. I'll start a thread with an MWE. If someone else could try these out that would be great!

At the bottom is an MWE that shows the few rough edges that I have encountered already. Namely:
 - Can't embed entire other pages from the same site (other sites work ok, which makes me think it's

[2022-08-20 04:39] mcognetta commented on #971
Opened https://github.com/ncase/nutshell/issues/13 to address the other issues.

[2022-08-21 06:08] KotaAihara opened #972 "LiveServer.jl is interrupted when move to another page"
I need some help.

When I move to another markdown page, such as menu1, menu2, LiveServer.jl i is shut down.  I used default template named "pure-sm". Do you have any solutions?

[2022-08-21 12:23] tlienart commented on #972
Hello @KotaAihara could you report your pkg status and in particular whether you're using LiveServer 0.9.2 please?

[2022-08-22 05:56] KotaAihara commented on #972
Thank you for reply
I did not installed LiveServer.jl . I have only installed Franklin.jl. Should I use LiveServer 0.92?

---- Here is my terminal ---------------
(@v1.8) pkg> status LiveServer
No Matches in `~/.julia/environments/v1.8/Project.toml`

julia> using LiveServer
 │ Package LiveServer not found, but a package named LiveServer is available
 │ from a registry.
 │ Install package?

[2022-08-22 08:10] tlienart commented on #972
Could you do `add LiveServer` and check that the installation shows 0.9.2?

Long story short: no you don't need to install LiveServer in theory but there were some recent updates on it that may have caused you to have a bad dependency if you have not recently updated your packages. If you explicitly add LiveServer it should fix the problem.

[2022-08-25 08:09] tlienart commented on #972
And now with the the realease of LiveServer 1 and F 0.10.77, this should all be fixed (assuming you just `up` and you won't need to explicitly install LiveServer).

I'll close this for now but please re-open with details if there's something that still looks wrong.

[2022-08-25 08:09] #972 closed

[2022-08-25 08:34] tlienart commented on #971
I had a quick look today

`index.md` :

[code]

`foo.md`

[code]

Observed result
<img width="764" alt="Screenshot 2022-08-25 at 10 31 52" src="https://user-images.githubusercontent.com/10897531/186616193-e367a0c7-42e9-4cae-a7d5-cfffbfb2c138.png">

So I think things work fine; just the relative link needs to be fully specified (`/foo/` as opposed to `foo`).

Observe that the math doesn't work (eve

[2022-09-07 20:53] eigenvivek opened #974 "How to change `blog-name`?"
Where is the class `blog-name` specified in the markdown? I can't find it in any of the files, and the blog-name is showing up as "Basic Template". Thank you!

[2022-09-08 08:03] tlienart commented on #974
Hello @eigenvivek, welcome to Franklin!

The `blog-name` is in the layout: https://github.com/tlienart/FranklinTemplates.jl/blob/fed3d61a9f789096b3dae6778c39925dcebda879/src/templates/basic/_layout/header.html ; the CSS is in basic.css: https://github.com/tlienart/FranklinTemplates.jl/blob/fed3d61a9f789096b3dae6778c39925dcebda879/src/templates/basic/_css/basic.css#L45-L57

To change the blog name,

[2022-09-10 12:56] eigenvivek commented on #974
Thank you! I figured it out and have converted my website to a Franklin backend. Looks great!

[2022-09-10 12:56] #974 closed

[2022-09-19 01:11] yng87 opened #977 "UndefVarError: setverbose not defined"
Hi, thanks for developing the great package. Using the latest Franklin.jl, I encountered the following error
[code]
It seems there is no `setverbose` function, and it is probably due to this PR
https://github.com/tlienart/LiveServer.jl/pull/150
I am using Franklin v0.10.78, and the Manifest shows it uses LiveServer.jl v1.0.1.

I could make PR, but I don't know how backward compatibility should be

[2022-09-19 12:27] luraess opened #978 "LiveServer not rendering mp4 videos in Safari"
Video animations in `.mp4` do not display when serving a website on localhost in the Safari (tested in macOS 10.15.7, Safari 15.6.1). Videos are embedded as
[code]
All works fine for the website version deployed on GH pages, and locally on other browsers (tested also with Chrome).

It is seemingly a Safari only issue. From web search, it may be that there is an issue such as https://stackoverflow.

[2022-09-19 13:12] #977 closed

[2022-09-19 13:13] tlienart commented on #977
Thanks a lot for flagging this.

I did a patch release with LiveServer so that `setverbose` exist. This is dirty but given that, one day or another, the new 'major' version of Franklin will be released, I'm not too fussed about it.

[2022-09-19 13:18] yng87 commented on #977
Thanks for the quick fix!

[2022-09-20 18:14] Moelf opened #979 "Gallery generation?"
https://github.com/cbenning/fussel

https://github.com/saimn/sigal

we could probably use some existing JS library

[2022-09-21 09:51] tlienart commented on #979
Nice, note that the first one (fussel) you can use it right now with a code cell that calls python via PyCall (or shells out); and you can post process the output (to place things in the appropriate directory).

To get an integrated solution, I wonder whether it wouldn't be better to have something like `PhotoGallery.jl` which does something similar as to what fussel does and insert the HTML outpu

[2022-10-06 15:22] tlienart commented on #471
Yeah WGLMakie is deprecated.

This is now handled with Makie directly. Xranklin.jl (next version of Franklin, in prep) handles this. But generally, I'd suggest people use something else than Makie for the static site stuff as it's still flaky and even when it works, it doesn't work on all browsers bc webgl is not systematically on.

[2022-10-06 21:04] Saransh-cpp opened #980 "Rendering and deploying previews using GitHub"
Xref: https://github.com/FluxML/fluxml.github.io/pull/145

Is it possible to use GH pages instead of Netlify to deploy documentation previews with `Franklin`? The [documentation](https://franklinjl.org/workflow/deploy/#previewing_pull_requests) states -

But, `Documenter.jl` already provides us with the "preview" feature using GH pages. This is due to the fact that Documenter.jl stores both the pr

[2022-10-06 21:04] Saransh-cpp commented on #980
(I can update the docs if this will work, or if someone here has tried this out!)

[2022-10-08 15:15] tlienart commented on #980
Hello @Saransh-cpp help with the docs is very welcome.

what you're suggesting is very close to what is currently being done for the julialang website (see the `gh-previews` branch: https://github.com/JuliaLang/www.julialang.org/tree/gh-preview/previews). Each of these subfolder contains a functional copy of the site with the changes from that preview and with paths properly set (e.g. `href="/prev

[2022-10-08 18:05] Saransh-cpp commented on #980
I got this to work!! I will add a new deployment section to Franklin's website this week (and also update some outdated deployment documentation)!

[2022-10-10 12:24] tlienart commented on #980
wonderful, thanks in advance for the added section and glad that you made this work @Saransh-cpp

[2022-10-11 10:32] stanvanlier opened #983 "Unable to set `div_content` with local page variable"
According to the docs, the global page variable `div_content` should be overwritten if set as local page variable, but this does not happen.

I'm guessing this can easily be fixed by using `locvar` instead of `globvar` in the `build_page` method on [src/manager/write_page.jl](../blob/6f24bef91a256731ca7a3609e4b777fe71594200/src/manager/write_page.jl)

The new `content_class` variable does also not

[2022-10-11 14:35] tlienart commented on #983
Hello @stanvanlier, yes I think all these https://github.com/tlienart/Franklin.jl/blob/6f24bef91a256731ca7a3609e4b777fe71594200/src/manager/write_page.jl#L12-L17 could be switched to `locvar` indeed as these should also be controllable from an individual page.

Would you mind opening a PR for this?
Thanks!

[2022-10-11 18:23] #983 closed

[2022-10-17 11:58] stanvanlier opened #985 "globvar `ignore` is ignored"
Adding files or directories to the `ignore` global config variable does not have an effect on what is copied over to the `__site` directory.

(I found out about it because `Manifest.toml` and `Project.toml` are copied over to the `__site` directory, which also should not happen according to the docs).

[2022-10-17 14:00] tlienart commented on #985
Hello @stanvanlier!

Could you tell me how you defined `ignore`? I just did the following to test:

1. create a dummy dir, activate it, add Franklin
2. `using Franklin; newsite(".")` in the directory
3. adjusted `config.md` so it had `ignore = ["node_modules/", "Project.toml", "Manifest.toml"]`
4. ran `serve(single=true, launch=false)`
5. `; ls __site` gives

[code]

which seems about right?

[2022-10-17 15:53] stanvanlier commented on #985
You're right! Apparently I didn't restarting the server. I assumed the whole `config.md` would be reevaluated by just saving it, but it turns out there are some exceptions to that.

[2022-10-17 17:59] tlienart commented on #985
It definitely should, but the hard bit is that I think you're assuming that there's a cleanup pass to remove files afterwards, and there isn't.

What I mean is that you called serve, it copied stuff to site, then you saved config with a new ignore, but the copied files haven't been deleted. They will be deleted only if you call `serve(clear=true)` in which case the entire folder will be nuked and

[2022-10-17 19:57] tlienart commented on #985
Ah yes that's an interesting one; Franklin keeps a list of files being watched and given that it was there from the start, it will keep assuming it needs to copy it if it's not there.

What should ideally happen is that when ignore gets updated that list of files being watched also is. I'll reopen the issue to look a bit into it

[2022-10-19 10:06] #980 closed

[2022-11-21 23:42] RaphaelArkadyMeyerNYU opened #986 "Parse \(....\) just like $....$"
When I write latex, I'm used to using \(....\) for inline math. It's a low-importance quality-of-life change, but how hard would it be to add this notation into the franklinjl parsing?

I'd be happy to do the work myself for what it's worth.

Thanks!

[2022-11-25 16:33] tlienart commented on #986
Hello @RaphaelArkadyMeyerNYU,

If you get Franklin off the branch `pmath-i986` you can do the following:

[code]

So you'd just call `enable_pmath()` before calling `serve`.

I likely won't put this into master though as I'm refraining from putting new stuff in Franklin lest it should break other things, the new stuff should ultimately all go in Xranklin (which is more or less done bar gaps in doc